/* Classroom Dark Mode New v2.0 */
/* Код створений для локального використовування. Забороняється продавати код. Код написаний розробником: "quaseek.pp.ua" або "quaseek" */
/* Для роботи скрипта потрібне розширення браузера > "Stylus" */

/* ---------- Головна ---------- */

:root {
 --no: transparent;
 --selection: #828296;
 --phn1: #282832; /* Темнее */
 --phn2: #32323c; /* Средне */
 --phn3: #3c3c46; /* Средне */
 --phn4: #464650; /* Светлее */
 --phn-c: #30303a;
 --txt1: #fafaff; /* Светлее */
 --txt2: #e6e6eb; /* Середне */
 --txt3: #d2d2d7;  /* Темное */
 --b: black;
 --a: #aaaaff;
 --r: red;
 --g: green;
 --p: purple;
 --w: white;
 --y: yellow;
}

::selection {
 background-color: var(--selection);
}

/* ---------- Вимкннення/Видалення функції. Приклад: display: none; ---------- */

.z07MGc.Vu2fZd.jJIbcc.T30lh, /* Вимикає на курсі ім'я вчителя */
.gmNu1d.tl2Rdc.asQXV, /* Лишній текст в середині курсу при приєднані на зустріч */
.eAcXqe .N6nSod, /* Кнопка "?"*/
.Hsjwae .PNzAWd, /* Фото вчителів на курсі */
.KV3Lre, /* Кнопка "Показати приховані курси" */
.zOtZye, /* Кнопка "Звернення до курсу" */
.UAJaRc, /* На хеадері вимикаємо лого класрума */
.gb_hd, /* Вимикаємо 9 гугл крапок програм на хеадері */
.kWv2Xb, /* Вимикаємо + на хеадері */
.F9zdgb { /* В календарі вимикає "Всі курси" */
 display: none;
}

/* ---------- Колір тексту / фону / бордерів / имг / свдж ---------- */

::-webkit-scrollbar { /* Вимикає скрол "Часово" */
 display: none;
}

body,
.fXYYpf .T4LgNb { /* Фон головного екрану */
 background: var(--phn1);
}

.Po14Kd { /* Загрузка */
 background: var(--no);
}

.BWOvob { /* Палка двигаеться тоесть загрузка */
 background: var(--txt1);
}

.joJglb { /* Хеадер */
 background: var(--phn2);
}

.y183Ub { /* Текст "Клас" в хеадер */
 color: var(--txt2);
}

.mwJvDe .KEDCCd { /* Якийсь під - хеадер в вибраному курсі */
 background: var(--phn2);
 border-radius: 0 0 15px 0;
 border: none;
}

.tCcYY,
.EXL71e { /* Нав */
 background: var(--phn2);
}

.wQiG5d { /* Вибрана вкладка в наві */
 background: var(--phn1);
}

.OkLq5b { /* Штука яка робить гарний пе реход з хеадера на нав */
 fill: var(--phn2);
}

.YVvGBb { /* Просто текст звичайного коліру в нав */
 color: var(--txt2);
}
.XL4gNd { /* Текст коли вибрав в наві якусь вкладку */
 color: var(--txt1);
}

.Aopndd { /* Фон з налаштуваннями */
 background: var(--phn2);
 border: 2px solid var(--phn3);
}

.NMm5M { /* Іконки но треба продивитися */
 fill: var(--txt2);
}

.gHz6xd { /* Бордер курсів */
 border: none;
}

.Eajscb .nGZbac, .Eajscb .nGZbac.pCcXPe, .Eajscb .nGZbac.N4XV7d,
.AeBiU-LgbsSe:hover .AeBiU-kBDsod-Rtc0Jf,
.AeBiU-LgbsSe:hover .AeBiU-vQzf8d,
.EN2Rfc:not(.RDPZE) .XTO5bf.y7OZL,
.wZTANe .J1raN:hover,
.AeBiU-kBDsod-Rtc0Jf,
.hN1OOc.eumXzf,
.UywwFc-vQzf8d,
.AeBiU-vQzf8d,
.yPtghd,
.z07MGc,
.XwD7Ke,
.B7SYid,
.sdmSCf {  /* Текст колір 1 */
 color: var(--txt1);
}

.onkcGd:hover, .onkcGd:focus, .WPhuJf:hover, .WPhuJf:focus, .etFl5b, .etFl5b:visited, .etFl5b:hover, .etFl5b:focus, .UtdKPb:hover, .UtdKPb:focus,
.Fgl6fe-fmcmS-yrriRe:not(.Fgl6fe-fmcmS-yrriRe-OWXEXe-OWB6Me):not(.Fgl6fe-fmcmS-yrriRe-OWXEXe-XpnDCe):hover .Fgl6fe-fmcmS-wGMbrd,
.Fgl6fe-fmcmS-yrriRe:not(.Fgl6fe-fmcmS-yrriRe-OWXEXe-OWB6Me).Fgl6fe-fmcmS-yrriRe-OWXEXe-XpnDCe .Fgl6fe-fmcmS-wGMbrd,
.dA2hVd-NLUYnc-xRPttf-OhKo9c, .dA2hVd-NLUYnc-xRPttf-DbgRPb, .dA2hVd-NLUYnc-xRPttf-NLUYnc,
.Fgl6fe-fmcmS-yrriRe:not(.Fgl6fe-fmcmS-yrriRe-OWXEXe-OWB6Me) .Fgl6fe-fmcmS-wGMbrd,
.rHGeGc-O1htCb.rHGeGc-O1htCb-OWXEXe-XpnDCe .rHGeGc-uusGie-fmcmS,
.slDfNd, .slDfNd:visited, .U0QIdc, .U0QIdc:visited,
.onkcGd, .onkcGd:visited, .WPhuJf, .WPhuJf:visited,
.yixX5e:hover .UtdKPb, .yixX5e:focus .UtdKPb,
.uW2Fw-Sx9Kwc-OWXEXe-n2to0e .uW2Fw-k2Wrsb,
.rHGeGc-O1htCb:hover .rHGeGc-uusGie-fmcmS,
.rHGeGc-uusGie-fmcmS,
.Eajscb .vT1Gyc.pCcXPe,
.Eajscb .vT1Gyc.N4XV7d,
.cC1eCc .VfPpkd-k2Wrsb,
.bqKF7d, .vGGYOe,
.z3vRcc, .tDxNLe,
.A6dC2c, .saYe1e,
.TgJ2ub .wCDkmf,
.wZTANe .J1raN,
.KGC9Kd-YQoJzd,
.zuzKle.xVPuB,
.z3vRcc-VGRwM,
.YrFhrf-ZoZQ1,
.z3vRcc-ZoZQ1,
.PPOsde,
.VjRxGc,
.WOPwXe,
.YrFhrf,
.vaUyHb,
.EfLcNb,
.ViCi4,
.Svw0vd,
.asQXV,
.xo2x2e,
.pco8Kc,
.ksaOtd,
.z3vRcc,
.DwLQSc,
.I2pI,
.ARTZne { /* Текст колір 2 */
 color: var(--txt2);
}

.Hwv4mb .onkcGd:focus .Pce5Kb, .Hwv4mb .onkcGd:hover .Pce5Kb,
.EN2Rfc:not(.RDPZE) .XTO5bf:hover,
.pYTkkf-Bz112c-LgbsSe:hover,
.uW2Fw-cnG4Wd>:last-child,
.cC1eCc .VfPpkd-cnG4Wd,
.vqwr2c-W0vJo-fmcmS,
.xVPuB .snByac,
.xVPuB .Aworge,
.asQXV-FGzYL,
.cSyPgb,
.tLDEHd,
.dDKhVc { /* Текст колір 3 */
 color: var(--txt3);
}

.xSP5ic:not([disabled]), .xSP5ic:not([disabled]).yHy1rc, .xSP5ic:not([disabled]).pYTkkf-Bz112c-LgbsSe { /* Заливка иконки "і" */
 fill: var(--txt3);
 color: var(--txt3);
}

.n4xnA { /* Фон завданнь в середині курсів */
 background: var(--phn2);
}

.riU7le { /* Нижній фон курсу */
 background: var(--phn-c);
 border-radius: .8rem;
}

.pYTkkf-Bz112c-LgbsSe { /* 3 крапки  */
 color: var(--txt2);
 --gm3-ripple-hover-color: var(--phn1);
}

.hN1OOc.eumXzf::after { /* Полоска в курсі на вибраній вкладці */
 border-color: var(--phn4);
}

.hN1OOc.eumXzf:hover, .hN1OOc.eumXzf:focus { /* Фон в курсі на вибраній вкладкі ховер ну те що зверху */
 background: rgba(from var(--phn4) r g b/.08);
 border-radius: 10px 10px 0 0;
}

.d4Fe0d { /* Фон доп штучок в середині курсу */
 background: var(--phn2);
 border: 2px solid var(--phn3);
}

.mUIrbf-LgbsSe:hover .mUIrbf-kBDsod-Rtc0Jf,
.mUIrbf-LgbsSe:hover .mUIrbf-vQzf8d,
.mUIrbf-kBDsod-Rtc0Jf,
.mUIrbf-vQzf8d { /* Текст в курсі "Переглянути всі завдання які треба здати" */
 color: var(--a);
}

.GWZ7yf { /* Фон в курсі в завданні там де завдання прикріпити */
 background: var(--phn2);
}

.UywwFc-LgbsSe { /* Кнопка щоб здати завдання */
 background: var(--phn4);
}

.j70YMc a:any-link {
 color: var(--a);
 text-decoration: none;
 user-select: none;
}

.EN2Rfc:not(.RDPZE) .XTO5bf.y7OZL { /* Налаштування кнопок щоб написати повідомлення */
 background: var(--phn1);
 border: 9999px;
}

.nl5VRd { /* Роздільник тексту в завданні */
 border-bottom: 2px solid var(--phn3);
}

.ar1wE .eqqrO, .ySjuvd .eqqrO { 
 border-top: 2px solid var(--phn3);
}

.O9YpHb,
.lXuxY .u73Apc { /* Непотрібні розділювачі в вкладкі "завдання" в курсі*/
 border: none;
}

.Iwp0Ue:not(.xp2dJ):focus-within.JiTjnd, .Iwp0Ue:not(.xp2dJ):focus-within.h7Ww0, .Iwp0Ue:not(.xp2dJ) :focus-within.JiTjnd, .Iwp0Ue:not(.xp2dJ) :focus-within.h7Ww0, .xWw7yd:focus-within.JiTjnd, .xWw7yd:focus-within.h7Ww0, .xWw7yd :focus-within.JiTjnd, .xWw7yd :focus-within.h7Ww0,
.Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover.rXdid, .Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover.h7Ww0, .Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover .rXdid, .Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover .h7Ww0, .xWw7yd:hover.rXdid, .xWw7yd:hover.h7Ww0, .xWw7yd:hover .rXdid, .xWw7yd:hover .h7Ww0,
.TgJ2ub .tfGBod.rZXyy:not(.xp2dJ):hover .jWCzBe { /* Бісячий ховер */
 background: var(--no);
}

.cC1eCc .VfPpkd-P5QLlc { /* Фон який появляється при відміні здачі завдання */
 background: var(--phn2);
}

.Fgl6fe-fmcmS-yrriRe-OWXEXe-MFS4be:not(.Fgl6fe-fmcmS-yrriRe-OWXEXe-OWB6Me) { /* Налаштування курсу прибираємо фон де є рядки тексту */
background: var(--no);
}

.TgJ2ub .VfoFfe { /* Прибераємо бордер там де запрошування на курс */
 border: none;
}

.TgJ2ub .IzVHde { /* Фон з інформацією про курс */
 background: var(--phn2);
}

.uW2Fw-P5QLlc { /* Фон зі створення курсу */
 background: var(--phn2);
}

/* ---------- Змінення/Додавання функцій ---------- */

body {
 user-select: none;
}

.TQYOZc { /* Додано скрол для завданнь курсу */
 overflow-y: auto;
}

.gHz6xd { /* Розміри курсів */
 height: 18rem;
 width: 19rem;
}

.XwD7Ke { /* Розмір шрифту на курсі h1 */
 font-size: 1.3rem;
}

.Svw0vd { /* Розмір шрифтку на курсі h2 */
 font-size: .85rem;
}

.R4EiSb { /* Паддинг зверху в курсі там де текст */
 padding: .7rem 1rem .5rem;
}

.Hsjwae .SZ0kZe { /* Полоска розділяюча 3 кнопки і завдання знизу на курсі */
 border-top: 1.7px solid var(--phn1);
}

.ZizeYd.qm64Ve { /* Дає опасити/фон розмитості */
 background: var(--phn1);
 opacity: .5;
}

.Hsjwae .Tc9hUd { /* Змінює мінімальну висоту фото на курсі зверху */
 min-height: 5rem;
}

.HqpJve { /* Товщіна шрифту кнопки "Мої курси" */
 font-weight: 500;
}

.Hsjwae .JwPp0e { /* Відступи між курсами */
 gap: 1.6rem;
}

.F4Ol1b .tCcYY.yWU57c:not(:hover):not(:focus-within) .wQiG5d, .F4Ol1b .tCcYY.yWU57c:not(:hover):not(:focus-within) .pzaVke { /* Кнопка коли звернутий лівий нав */
 width: .5rem;
}

.uTwgne, .ug8OTc { /* Міняємо чуть паддинг на кнопку "мої курси" для нормального вигляду */
 padding-right: .8rem;
}

.CbuVcc .Pce5Kb { /* Прибераємо маргин в хеадері назва сайту а саме "Клас" */
 margin: 0;
}

.PFLqgc { /* В курсі фон з текстом трошки його прикриваємо */
 opacity: .7;
}

.dbEQNc { /* Ширина всіх блоків в самому курсі */
 max-width: 65rem;
}

.CHJgKd { /* Змінює розташування кнопки "Переглянути всі завдання" в курсі */
 text-align: center;
}

.RcHwO,
.s2g3Xd { /* Якийсь бордер */
 border: none;
}

b {
 font-weight: 500;
}

.z3vRcc-VGRwM,
.dDKhVc,
.tLDEHd,
.B7SYid { /* Дозволяємо вибирати текст */
 user-select: text;
}

.q1Kmyc { /* Заокруглення для написання тексту */
 border-radius: 1rem;
}

.asQXV { /* Товщина шрифту оцінок і тд. */
 font-weight: 400;
}

.LKqFXc,
.MHxtic:not(:last-child),
.Iwp0Ue:not(:first-child) { /* Ховаємо полоски в курсі вкладка "завдання" */
 border: none;
}

.U0QIdc, .U0QIdc:hover, .U0QIdc:visited, .qNcEY.qNcEY, .qNcEY.qNcEY:visited, .gXNsG, .gXNsG:hover, .gXNsG:visited { /* Вимикаємо декорацію тексту - в прикріпленому файлі */
 text-decoration: none;
}

.r0VQac .bHOAdb, .Yzgtqe .bHOAdb, .luto0c .bHOAdb { /* Налаштування прикріпленого файлу вчителем чи мого */
 border: none;
 margin-right: .5rem;
}

.r0VQac, .Yzgtqe, .M4LFnf { /* Вимикаємо бордер щоб не обрізався текст файлу */
 margin-right: 0rem;
}

.RIDjNe { /* В календарі змінює бордер/роздільник днів */
 border-right: .0625rem solid var(--phn4);
}

.YrFhrf-ZoZQ1 { /* Розмір тексту в курсі, курсу */
 font-size: 2rem;
 user-select: text;
}

.z3vRcc-ZoZQ1 { /* Також розмір тексту але назва уроку */
 font-size: 1.1rem;
 user-select: text;
}

.rec5Nb { /* Вмикаємо селект денеде */
 user-select: text;
}

.OlXwxf .SFCE1b { /* Колір блоків в вкладкі "Завдання" */
 border-radius: 12px;
}

/* ---------- Тест / Кастом ---------- */